In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Store CSV into DataFrame

In [2]:
csv_file = "../Resources/teams.csv"
teams = pd.read_csv(csv_file)
teams.head()

,id,name,name_key,created_at,updated_at
0,1,HOG TIDE BAR-B-QUE,hog tide bar-b-que,2018-11-17 23:14:36,2018-11-17 23:14:36
1,2,SWIGGIN PIG,swiggin pig,2018-11-17 23:14:36,2018-11-17 23:14:36
2,3,BIG B'S BBQ - TN,big b's bbq - tn,2018-11-17 23:14:36,2018-11-17 23:14:36
3,4,SMOKIN T'S,smokin t's,2018-11-17 23:14:36,2018-11-17 23:14:36
4,5,SMOKE ME SILLY,smoke me silly,2018-11-17 23:14:36,2018-11-17 23:14:36

### Create new data with select columns

In [3]:
teams = teams[['id', 'name']].copy()
teams.head()

   id                name
0   1  HOG TIDE BAR-B-QUE
1   2         SWIGGIN PIG
2   3    BIG B'S BBQ - TN
3   4          SMOKIN T'S
4   5      SMOKE ME SILLY

### Store JSON data into a DataFrame

### Clean DataFrame

### Connect to local database

In [4]:
rds_connection_string = "postgres:postgres@localhost:5432/KC_BBQ_Fests"
engine = create_engine(f'postgresql://{rds_connection_string}')

### Check for tables

In [5]:
engine.table_names()

['competitions_df', 'results']

### Use pandas to load csv converted DataFrame into database

In [7]:
teams.to_sql(name='teams', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the customer_location table

In [8]:
pd.read_sql_query('select * from teams', con=engine).head()

   id                name
0   1  HOG TIDE BAR-B-QUE
1   2         SWIGGIN PIG
2   3    BIG B'S BBQ - TN
3   4          SMOKIN T'S
4   5      SMOKE ME SILLY