In [7]:
import pandas as pd

### Store CSV into DataFrame

In [9]:
csv file = "../Resources/results.csv"
results = pd.read_csv(csv_file)
results.head()

SyntaxError: invalid syntax (<ipython-input-9-be019a103eaf>, line 1)

### Create new data with select columns

In [3]:
competitions_df = competitions_df[['id', 'kcbs_competition_id', 'location', 'start_date']].copy()
competitions_df.head()

   id  kcbs_competition_id               location  start_date
0   1                  614              Felda, FL  2007-01-01
1   2                  621  North Kansas City, MO  2007-03-09
2   3                  624               Enid, OK  2007-04-13
3   4                  625         Osage City, KS  2007-04-13
4   5                  626        Los Angeles, CA  2007-04-13

### Store JSON data into a DataFrame

### Clean DataFrame

### Connect to local database

In [4]:
rds_connection_string = "postgres:postgres@localhost:5432/KC_BBQ_Fests"
engine = create_engine(f'postgresql://{rds_connection_string}')

### Check for tables

In [8]:
engine.table_names()

['teams', 'competitions_df', 'results']

### Use pandas to load csv converted DataFrame into database

In [6]:
competitions_df.to_sql(name='competitions_df', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the customer_location table

In [7]:
pd.read_sql_query('select * from competitions_df', con=engine).head()

   id  kcbs_competition_id               location  start_date
0   1                  614              Felda, FL  2007-01-01
1   2                  621  North Kansas City, MO  2007-03-09
2   3                  624               Enid, OK  2007-04-13
3   4                  625         Osage City, KS  2007-04-13
4   5                  626        Los Angeles, CA  2007-04-13